.buttonLink {
    background-color: #8bbde6;
    height: 50px;
    line-height: 50px;
    width: 250px;
    margin: 50px auto 0;
    border-radius: 25px;
}

.buttonStyle, .buttonStyle:hover {
    text-align: center;
    color: black;
}