@import "../css/typography.css";

body {
    color: #000000;
    font-family: "Montserrat Regular", Helvetica, sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
}

div {
    font-family: "Montserrat Regular", Helvetica, sans-serif;
}

h1 {
    font-family: "Montserrat ExtraBold", Helvetica, sans-serif;   
    font-size: 60px;
    margin-top: 60px;
}

h2 {
    font-family: "Montserrat ExtraBold", Helvetica, sans-serif;   
    font-size: 40px;
}

h3 {
    font-family: "Montserrat SemiBold", Helvetica, sans-serif;  
    font-size: 30px; 
}

h4 {
    font-family: "Montserrat SemiBold", Helvetica, sans-serif;  
    font-size: 24px;
}

h5 {
    font-family: "Montserrat SemiBold", Helvetica, sans-serif;   
    font-size: 20px;
}

h6 {
    font-family: "Montserrat SemiBold", Helvetica, sans-serif;  
    color: #3c4858;
    font-size: 18px;
}

p {
    font-family: "Montserrat Regular", Helvetica, sans-serif;   
    font-size: 18px;
}

.page-content {
    margin: 0 auto;
    max-width: 1100px;
    padding: 20px;
    padding-top: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    margin-bottom: 50px;
    flex: 1 0 auto;
}

.headerSiteName {
    margin-bottom: 20px;
    display: inline-block;
    font-style: normal;
    text-decoration: none;
}

.headerLink {
    float: right;
    padding: 2px;
    text-decoration: none;
    color: #000000;
    margin-right: 2rem;
}

.headerLink.rightmost {
    margin-right: 0rem;
}

.headerLink:hover {
    background:
        linear-gradient(
        to bottom, #8bbde6 0%,
        #8bbde6 100%
        );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: black;
}

.footer {
    flex-shrink: 0;
    height: 70px;
}

.footerLink {
    color: #000000;
    margin-right: 20px;
    font-size: 20px;
}

.footerLink:hover {
    color: #8bbde6;
}

.copyright {
    float: right;
    font-size: 16px;
    margin: 0px;
}

.madeIn {
    text-align: center;
    font-family: "Montserrat SemiBold", Helvetica, sans-serif;
    font-size: 12px;
    color: #3c4858;
    text-transform: uppercase;
    opacity: 80%;
    letter-spacing: 1px;
}

.heart {
    font-size: 10px;
}