.blog-page-header {
    margin: 50px 0;
}

.blog-title {
    color: #54595F;
    font-size: 30px;
    font-family: "Montserrat SemiBold", Helvetica, sans-serif; 
}
.blog-subtitle {
    color: #54595F;
    font-size: 16px;
}
.blog-link:hover {
    transform: scale(1.02);
}

.blog-link {
    display: block;
    border: 5px solid #8bbde6;
    border-radius: 20px;
    padding: 25px;
    transition: transform .5s;
    margin-bottom: 20px;
}