li {
    margin-bottom: 5px;
}

/* Styles for about.js */

.aboutPicture {
    float: right;
    width: 45%;
    margin-top: 60px;
}

.aboutText {
    float: left;
    width: 45%;
}

/* Styles for index.js */

.homeMainTitle {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 80px;
    color: #8bbde6;
}

.homeSubtitle {
    font-size: 20px;
    margin-bottom: 80px;
}

.portfolioTileFormat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}