li {
    margin-bottom: 5px;
}

/* Styles for about.js */

.aboutPicture {
    float: right;
    width: 45%;
    margin-top: 60px;
}

.aboutText {
    float: left;
    width: 45%;
}

/* Styles for index.js */

.homeMainTitle {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 80px;
    color: #8bbde6;
}

.homeSubtitle {
    font-size: 20px;
    margin-bottom: 80px;
}

.portfolioTileFormat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Styles for 404 page */

.fourOhFourWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.fourOhFourContent {
    margin-bottom: 60px;
    text-align: center;
}

.fourOhFourTitle {
    font-size: 100px;
    color: #8bbde6;
    font-family: 'Montserrat ExtraBold';
}

/* portfolio pages */

.portfolioSectionTitle {
    margin-top: 50px;
}

.portfolioPageImage {
    padding: 30px;
}

.portfolioPageImage.half {
    width: 50%;
}

.portfolioPageImage.quarter {
    width: 25%;
}

.portfolioPageImage.threequarter {
    width: 75%;
}

.portfolioPageImage.third {
    width: calc(100% / 3);
}